#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.info_window_image {
    float: left;
    margin: 0 15px 15px 0;
}

h2.info_window_heading {
    color: #9BC8D4;
}

.info_window_body {
    color: #4F8053;
}

.controlStyle {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    color: rgb(25,25,25);
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    height: 40px;
    margin: 8px 0 22px;
    padding: 0 5px;
    text-align: center;
}

.controlStyle:hover {
    background-color: #EBEBEB;
    border: 2px solid #EBEBEB;
    transition: 0.4s;
}

.controlStyle:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5A01A7;
}
