html, body {
    height: 100%;
}

#overzicht-bekendmakingen {
    width: 100%;
    height: 95%;
    position: absolute;
}

/* #D9D764 */

h2.info_window_heading {
    color: #9BC8D4;
}

.info_window_body {
    color: #4F8053;
}
