#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2.info_window_heading {
    color: #9BC8D4;
}

.info_window_body {
    color: #4F8053;
}
